@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Mulish', sans-serif !important; */
  @apply tracking-normal;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  @apply bg-white dark:bg-app-pblue;
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* app container styles */
.app-container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px){
  .app-container {
    max-width: 560px;
  }
}

@media (min-width: 768px){
  .app-container {
    max-width: 750px;
  }
}

@media (min-width: 992px){
  .app-container {
    max-width: 980px;
  }
}

@media (min-width: 1200px){
  .app-container {
    max-width: 1190px;
  }
}

@media (min-width: 1280px){
  .app-container {
    max-width: 1270px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 3640px)
{
  .app-container {
    max-width: 1170px;
  }
}