@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth
  /* font-family: 'Mulish', sans-serif !important; */
  /* @apply tracking-normal; */
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  @apply bg-white dark:bg-app-pblue;
  overflow-x: hidden;
}

.blue_gradient {
  background: linear-gradient(180deg, #3F9BD5 0%, rgba(63, 155, 213, 0) 100%);
}
.black_graident {
  background: #2A3339;
}

.yellow_gradient {
  background: linear-gradient(180deg, #C79B1E 0%, rgba(255, 227, 147, 0) 100%);
}